TZ=America/Sao_Paulo
PUID=1000
PGID=1000
MEDIA_ROOT=/mnt

HOMARR_IMAGE=ghcr.io/ajnart/homarr:latest
PORTAINER_IMAGE=portainer/portainer-ce:latest
JELLYFIN_IMAGE=jellyfin/jellyfin:latest
FILEBROWSER_IMAGE=filebrowser/filebrowser:latest
QBITTORRENT_IMAGE=lscr.io/linuxserver/qbittorrent:latest
LIBRESPEED_IMAGE=lscr.io/linuxserver/librespeed:latest
UPTIME_KUMA_IMAGE=louislam/uptime-kuma:latest
NETDATA_IMAGE=netdata/netdata:latest
N8N_IMAGE=docker.n8n.io/n8nio/n8n:latest
RADARR_IMAGE=lscr.io/linuxserver/radarr:latest
PROWLARR_IMAGE=lscr.io/linuxserver/prowlarr:latest
SWINGMUSIC_IMAGE=ghcr.io/swingmx/swingmusic:latest

HOMARR_PORT=9001
PORTAINER_PORT=9002
JELLYFIN_PORT=9003
FILEBROWSER_PORT=9004
QBITTORRENT_WEBUI_PORT=9005
QBITTORRENT_TCP_PORT=6881
QBITTORRENT_UDP_PORT=6881
LIBRESPEED_PORT=9006
UPTIME_KUMA_PORT=9007
NETDATA_PORT=9008
RADARR_PORT=9009
N8N_PORT=9010
PROWLARR_PORT=9011
SWINGMUSIC_PORT=9012

N8N_HOST=localhost
N8N_WEBHOOK_URL=http://localhost:9010/
N8N_SECURE_COOKIE=false
SWINGMUSIC_DEVICE_NAME=Home Server
